.form {
  width: 100%;
  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 36px;
    @include media($r-sm) {
      font-size: 25px;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 540px;
    @include media($r-sm) {
      flex-wrap: wrap;
    }
  }
  &__link {
    font-size: 14px;
    font-weight: 600;
    color: $grey-400;
    transition: color 0.5s ease;
    &:hover {
      color: $grey-900;
    }
  }
  &__error {
    color: $danger;
    font-weight: 600;
    margin-bottom: 25px;
  }
}
.text-field {
  max-width: 540px;
  width: 100%;
  @include media($r-sm) {
    margin-bottom: 10px;
  }
  &__input {
    width: 100%;
    height: 65px;
    border-radius: 10px;
    color: $grey-400;
    margin-bottom: 30px;
    padding: 20px 25px;
    font-weight: 700;
    background-color: $grey-50;
    outline-color: transparent;
    border-color: transparent;

    &-error {
      border: 2px solid $danger;
      margin-bottom: 5px;
    }
    &:focus,
    &:active {
      border: 2px solid $primary;
    }
  }
  &__error {
    color: $danger;
    font-weight: 600;
    margin-bottom: 25px;
  }
}
.checkBox {
  display: flex;
  align-items: center;
  &__checkbox {
    height: 24px;
    width: 24px;
    border: 2px solid $grey-900;
    margin-right: 5px;
  }
  &__label {
    font-size: 14px;
    font-weight: 600;
    color: $grey-400;
  }
}
