.header {
  display: flex;
  padding: 40px 0;
}
.navigation {
  position: relative;
  width: 100%;
  &__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    @include media($r-xl) {
      flex-wrap: wrap;
    }
    @include media($r-m) {
      flex-direction: column;
    }
  }
  &__left {
    display: flex;
    @include media($r-m) {
      flex-direction: column;
    }
  }
  &__menu {
    display: flex;
    padding: 10px 0 !important;
    transition: all 0.5s ease-in;
    @include media($r-xl) {
      margin-bottom: 10px;
    }
    @include media($r-m) {
      position: absolute;
      flex-direction: column;
      transform: translateY(-3000px);
      width: 100%;
      z-index: 6564;
      background-color: #fff;
      border-bottom: 1px solid $grey-100;
    }
    &-active {
      transform: translateY(60px);
    }
  }
  &__burger {
    position: absolute;
    right: 15px;
    top: 20px;
    display: none;
    @include media($r-m) {
      display: block;
    }
  }
  .action-button {
    width: 57px;
    @include media($r-m) {
      width: 40px;
    }
    svg {
      path {
        fill: $warning;
      }
    }
  }
  &__btn {
    width: 35px;
    background-color: $grey-900;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 4px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      transition: all 0.5s ease-out;
      height: 4px;
      width: 35px;
      background-color: $grey-900;
    }
    &::after {
      top: 10px;
    }
    &::before {
      bottom: 10px;
    }
    &-active {
      background-color: transparent;
      &::after {
        top: 0;
        transform: rotateZ(45deg);
      }
      &::before {
        top: 0;
        transform: rotateZ(-45deg);
      }
    }
  }
  &__item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  &__link {
    padding: 15px;
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.5s ease;
    text-transform: capitalize;
    border: 1px solid transparent;
    font-weight: 600;
    color: $grey-900;
    width: 100%;
    &:hover {
      background-color: $brand-2;
    }
    &:focus {
      border-color: $brand;
    }
    &-active {
      background-color: $brand-4;
    }
  }
  &__search {
    max-width: 255px;
    width: 100%;
    border-radius: 30px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    svg {
      height: 20px;
      width: 20px;
    }
    &-field {
      background-color: transparent;
      border-color: transparent;
      outline-color: transparent;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    @include media($r-m) {
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__user {
    display: flex;
    align-items: center;
  }
  &__button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    @include media($r-sm) {
      margin-right: 5px;
    }
  }
}
.logo {
  max-width: 50px;
  height: 50px;
  margin-right: 65px;
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
  @include media($r-m) {
    margin-bottom: 15px;
  }
}
.container-dark {
  .navigation {
    &__link {
      color: $grey-50;
      &-active {
        background-color: $grey-700;
      }
      &:hover {
        background-color: $grey-400;
      }
    }
    &__btn {
      background-color: $grey-50;
      &-active {
        background-color: transparent;
      }
      &::before,
      &::after {
        background-color: $grey-50;
      }
    }
    &__menu {
      &-active {
        background-color: $grey-400;
      }
    }
  }
}
