@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Source+Sans+3:wght@400;600;700&display=swap");
.container {
  max-width: $maxWidth;
  width: 100%;
  margin: 0 auto;
  &-big {
    max-width: 1460px;
  }
  &-dark {
    background-color: $grey-900;
  }
}
$fontFamily: "Poppins", sans-serif;
body {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.button {
  &__btn {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: $grey-900;
    color: #ffff;
    font-weight: 700;
    font-family: $fontFamily;
    transition: all 0.5s ease;

    &:hover {
      background-color: $grey-700;
    }
    &:disabled {
      cursor: auto;
      opacity: 0.4;
      &:hover {
        background-color: $grey-900;
      }
    }
  }
  &-l {
    padding: 25px;
  }
}
.container-dark {
  .button {
    &__btn {
      background-color: $grey-50;
      color: $grey-900;
      &:hover {
        background-color: $grey-400;
      }
    }
  }
}
.avatar {
  border-radius: 50%;
  background-color: $grey-50;
  display: flex;
  &-s {
    height: 40px;
    width: 40px;
  }
  &-m {
    height: 60px;
    width: 60px;
  }
  &-l {
    height: 72px;
    width: 72px;
  }
  img {
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
  }
}
.action-button {
  background-color: $grey-50;
  position: relative;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  z-index: 3;
  border-radius: 50%;
  cursor: pointer;
  &-btn {
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    height: 40px;
    width: 40px;
  }
  &__input {
    display: none;
  }
  svg {
    font-size: 24px;
    fill: $primary;
    pointer-events: none;
  }
  &:hover,
  &:focus {
    .action-button__desc {
      opacity: 1;
    }
  }
  &__desc {
    position: absolute;
    top: 40px;
    background-color: $brand;
    display: flex;
    white-space: nowrap;
    font-family: $fontFamily;
    padding: 5px;
    opacity: 0;
    z-index: 99999;
    transition: opacity 0.5s ease;
    justify-content: center;
    border-radius: 10px;
    color: $grey-900;
    font-weight: 600;
  }
}
.visually-hidden {
  display: none;
}
