@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Source+Sans+3:wght@400;600;700&display=swap");
.container {
  max-width: $maxWidth;
  width: 100%;
  margin: 0 auto;
  &-big {
    max-width: 1460px;
  }
  &-dark {
    background-color: $grey-900;
  }
}
body {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.button {
  &__btn {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: $grey-900;
    color: #ffff;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.5s ease;
    &:hover {
      background-color: $grey-700;
    }
  }
  &-l {
    padding: 25px;
  }
}
.container-dark {
  .button {
    &__btn {
      background-color: $grey-50;
      color: $grey-900;
      &:hover {
        background-color: $grey-400;
      }
    }
  }
}
.avatar {
  border-radius: 50%;
  background-color: $brand-2;
  display: flex;
  &-s {
    height: 40px;
    width: 40px;
  }
}
